<header class="flex space-x-4 justify-between items-center h-[8vh] px-4 bg-[rgba(104,172,250,0.55)] fixed top-0 left-0 z-[999] w-full">
    <span class="font-bold text-2xl">
        Admin Panel
    </span>
    <nav class="flex ">
        <ul class="flex gap-4 ">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>
    <span>
        <a href="/logout" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 transition duration-200">
            Logout
          </a>
    </span>
</header>
