<div class=" translate-y-[-100px] bg-black px-4 absolute left-0 right-0 open:translate-y-0 open:transform transition-transform duration-100">
    <div class="">
        <form action="/search" class="" role="search" method="POST">
            <input type="search"
            aria-label="Search"
            id="SearchInput"
            name="searchTeam"
            placeholder="Search the news" class="m-0 p-0">
        </form>
        <div id="searchClose" class="">Close</div>
    </div>
</div>