<section class="mx-2 my-6">
    <span class="text-2xl">Latest News</span>
    <ul class="article-ul">
        <li>
            <a href="#">
                <img src="../../public/img/latest-news-img.jpg" alt="">
                <span>Tech Giant Unveils Revolutionary AI Assistant</span>
                <span class="article-list_date">September 5, 2024
                </span>
            </a>
        </li>
    </ul>

    <a href="#" class="">&it; View Older Posts</a>
</section>